$FONT-STACK: roboto, sans-serif;
$FONT_SIZE_N: 18px;
$FONT_SIZE_S: 13px;
$FONT_SIZE_XS: 10px;
$BORDER_RADIUS: 4px;
$black: #000000;
$white: #ffffff;
$primaryBrandColor: #2a3052;
$darkPrimaryBrandColor: #15212d;
$secondaryBrandColor: #e98024;
$contentColor: #000000;
$contentInverseColor: #ffffff;
$secondaryContentColor: #c2c2c2;
$borderColor: #dedede;
$fillColor: #f2f2f2;
$positiveColor: #2e8836;
$darkPositiveColor: #14602b;
$negativeColor: #c03;
$noticeColor: #fef1cf;
$chartColor: #6b8fb9;
$chartAreaColor: rgba(128, 179, 236, 0.3);
$lightBlue: #29abe2;
$darkGray: #44484c;
$darkWhite: #cccccc;